* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "ubuntu";
  
}
img {
    width: 100%;
}
header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background:white;
}
header .header-left {
    display: flex;
    align-items: center;
}
header .header-left .logo {
    width: 140px;
}
header .header-left nav {
    margin-left: 50px;
}
header .header-left nav ul {
    display: flex;
}
nav ul li a {
    display: block;
    color:black;
    font-size: 20px;
    padding: 5px 15px;
    transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
    color: rgb(78, 206, 28);
}
nav .login-signup {
    display: none;
}
header .header-right {
    display: flex;
    align-items: center;
}
header .login-signup {
    color: #cfd9e0;
    font-weight: bold;
}
header .login-signup a {
    display: inline-block;
    color: #0b2239;
    background: #4ad295;
    padding: 5px 12px;
    border-radius: 5px;
}
header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: black;
}
#feed{
 
    display: flex;
    justify-content: space-evenly
}
.conin h1{
font-size: 50px;

}
#conl{
    border:solid red px;
}


@media only screen and (max-width: 500px) {
    #feed{
        border: #dd7c0d solid 1px;
        display: block;
    }
    .conin h1{
    font-size: 40px;
    text-align: center;
}
.conin p{
    text-align: center;
    font-size: 20px;
}
#conl img{ width: 100%;}
}
@media only screen and (max-width: 1000px) {
    header {
        padding: 0 20px;
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #111010;
        padding: 30px;
       
        text-align: center;
        z-index: -1;
    }
    header .header-left nav.active {
        top: 70px;
    }
    header .header-left nav ul {
        display: block;
    }
}
@media only screen and (max-width: 500px) {
    nav .login-signup {
        
        display: block;
        margin-top: 20px;
    }
    header .header-right .login-signup {
        display: none;
      
    }
}
#complogo{
    
    display: flex;
    justify-content: space-evenly
}
#complogo img{
width: 7%;
}
#text{
    padding-top: 3%;
    text-align: center;
}
#text2{
    padding-top: 3%;
    text-align: center;
}

.in{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 20%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: aliceblue;
    border-radius: 3%;
}
.in img{
    width: 100%;
}
#product :hover{
    background-color: #4ad295;
}
#product{
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly
}

@media only screen and (max-width: 600px){
    .in{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        width: 90%;
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: aliceblue;
        border-radius: 3%;
    }
    .in img{
        width: 100%;
    }
    #product :hover{
        background-color: #4ad295;
    }
    #product{
        margin-top: 3%;
        display: grid;
 gap: 2%;
        
        grid-template-columns: repeat(1,300px);

    }
}
#feed2{
    display: flex;
    margin-top: 4%;
    justify-content: space-between;
    border: #0b2239 solid px;
}
#feed2 img{
    border: #4ad295 solid px;
    width: 60%;
}
.h{
    border: red solid px;
    margin-top: 10%;
    margin-left: 10%;
}

.h2{
    margin-top: 3%;
    text-align: center;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#futer{
background-color: #062d53;
    border:  red solid px;
    display: flex;
    justify-content: space-around
}
.futer img{
    width: 100%;
    
}
